<div>
    <label for="coin-select">Select coin:</label>
    <select id="coin-select" [(ngModel)]="selectedCoin">
      <option *ngFor="let coin of coins" [value]="coin.id">{{ coin.name }}</option>
    </select>
</div>

<div>
    <label for="currency-select">Select currency:</label>
    <select id="currency-select" [(ngModel)]="selectedCurrency">
      <option value="usd">USD</option>
      <option value="eur">Euro</option>
      <option value="gbp">Lire</option>
    </select>
</div>

<div>
    <label for="date-picker">Select date:</label>
    <mat-form-field appearance="fill">
      <mat-label>Date of investment :</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div>
    <label for="investment-amount">Investing amount:</label>
    <input type="number" id="investment-amount" [(ngModel)]="montlyInvestmentAmount" min="0" step="1" placeholder="Enter amount">
</div>
 
<br>
<br>
<p>Selected coin: {{ selectedCoin }}</p>
<p>Selected currency: {{ selectedCurrency }}</p>
<p>Selected date: {{ selectedDate }}</p>

<br>
<br>
<div>
    <p>Get investment DCA by investing monthly  {{ montlyInvestmentAmount }} {{ selectedCurrency | uppercase }} starting from the selected date.<br> 
        The asset price on the 15th of each month is used as the reference value.</p>
    <button (click)="GetInvestmentDCA()">Calculate</button>
</div>
  
<p>{{simulatedAmount}} </p>